header{
    text-align: center;
    font-family: Arial Narrow Bold;

}
main{
    font-family: arial narrow;
    width: 600px;
    background-color: rgba(158, 158, 158, 0.459);
    text-align: center;
    margin: auto; 
}
Img{
   width: 500px;
   margin: center;
   

}


   
